<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- resource path is based on `app.use(express.static('static'));` in app.js -->
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/nifty.min.css">
    <link rel="stylesheet" href="./styles/nifty-demo-icon.min.css">
    <link rel="stylesheet" href="./styles/my.css">
    <link rel="stylesheet" href="./styles/themify-icons.min.css">
    <link rel="stylesheet" href="./styles/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/map.css">

    <script src="./scripts/jquery.min.js"></script>
    <script src="./scripts/bootstrap.min.js"></script>
    <script src="./scripts/nifty.min.js"></script>
    <script src="./scripts/icons.js"></script>
    <script src="./scripts/bootstrap-datepicker.min.js"></script>
    <script src="./scripts/bootstrapValidator.min.js"></script>
    <script type="text/javascript"
            src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=006Akv1GpTT8c2OpAnw1WIKnRKsr784W"></script>
    <title>Index</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>

<div class="row map-bottom">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row" style="z-index: 999 !important;">
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<div id="container" class="effect aside-float aside-bright mainnav-lg">

    <div class="boxed">

        <!--Map CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container" style="padding-top: 1px; padding-bottom: 1px;">

            <!--Page content-->
            <!--===================================================-->
            <div id="page-content" style="padding: 0px 0px 0; ">

                <div class="row" style="height:100vh; position:relative; text-align:center;">


                    <!-- Top search -->
                    <!-- for mobile size -->
                    <div class="row map-top map-top-mini-search top-mini-search-behavior">
                        <a href="/search" class="btn btn-icon my-circle-button"><i class="fa fa-2x fa-search"></i></a>
                    </div>

                    <!-- for desktop size -->
                    <div class="row map-top map-top-full-search top-full-search-behavior">
                        <span></span>
                        <form action="/search" method="post" style="width: 100%; padding-right: 5%">
                            <div class="input-group mar-btm">
                                <input type="text" name="search_text" placeholder="Search van name..."
                                       class="form-control input-lg">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-lg" type="submit">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>

                    <!-- for desktop size refresh -->
                    <!--                    <div class="row map-top map-top-refresh top-full-search-behavior">-->
                    <!--                        <a href="/" class="btn btn-primary my-round-border btn-block"><i class="fa fa-refresh"></i>&nbsp;Refresh</a>-->
                    <!--                    </div>-->

                    <!-- bottom button group (shows in mobile device) -->
                    <div class="map-bottom bottom-button-group-behavior">
                        <div class="row" style="height: 15px">
                            <div class="col-xs-2 col-md-2">

                            </div>
                            <div class="col-xs-8 col-md-8">
                                <a href="/" class="btn btn-primary my-round-border btn-block"><i
                                        class="fa fa-refresh"></i>&nbsp;Refresh</a>
                                <br>
                            </div>
                            <div class="col-xs-2 col-md-2">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-md-4">
                                <a href="/customer/profile" class="btn btn-icon my-circle-button"><img
                                        src="{{{customer_avatar_path}}}" class="img-circle" alt="My Account"
                                        title="My Account" style="width: 27px; height: 26px"></a>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <a href="/customer/my_orders" class="btn btn-icon my-circle-button"><img
                                        src="./images/icon_drink_snack.png" alt="My Orders" title="My Orders"
                                        style="width: 27px; height: 26px"></a>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <a href="/nearest_vans" class="btn btn-icon my-circle-button"><i
                                        class="fa fa-2x fa-location-arrow" title="Nearest vans"></i></a>
                            </div>
                        </div>

                    </div>

                    <!--map container-->
                    <div style="width:100%;height:100%;border:#ccc solid 1px;" id="map"></div>
                </div>

            </div>
            <!--End map content-->

        </div>

        <!--MAIN NAVIGATION-->
        <!--===================================================-->
        <nav id="mainnav-container" style="padding-top: 1px;">
            <div id="mainnav">
                <!--Menu-->
                <!--================================-->
                <div id="mainnav-menu-wrap">
                    <div class="nano has-scrollbar">
                        <div class="nano-content standard-dark-white-background small-left-normal-right-round"
                             tabindex="0" style="right: -15px;">

                            <!--Profile Widget-->
                            <!--================================-->
                            <div id="mainnav-profile" class="mainnav-profile small-left-normal-right-round">
                                <div class="profile-wrap text-center standard-background">
                                    <div class="pad-btm">
                                        <img class="img-circle img-md" src="{{{customer_avatar_path}}}"
                                             alt="Profile Picture">
                                    </div>
                                    <a href="" onclick="location='/customer/profile'" class="box-block"
                                       data-toggle="collapse"
                                       aria-expanded="false">
                                        <p class="mnp-name text-white">{{{customer_username}}}</p>
                                        <span class="mnp-desc text-white">{{{customer_login_id}}}</span>
                                    </a>
                                </div>
                            </div>


                            <!--Shortcut buttons-->
                            <!--================================-->
                            <div id="mainnav-shortcut" class="hidden">
                                <ul class="list-unstyled shortcut-wrap"></ul>
                            </div>
                            <!--================================-->
                            <!--End shortcut buttons-->


                            <ul id="mainnav-menu" class="list-group standard-dark-white-background">

                                <!--Category name-->
                                <li class="list-header">WANNA SNACK?</li>

                                <!--Menu list item-->
                                <li>
                                    <a href="" data-original-title="" title="">
                                        <i class="fa fa-user-circle-o"></i>
                                        <span class="menu-title">My Account</span>
                                        <i class="arrow"></i>
                                    </a>

                                    <!--Submenu-->
                                    <ul class="collapse" aria-expanded="false">
                                        <li>
                                            <a href="/customer/profile" data-original-title="" title="">
                                                <i class="fa fa-address-card"></i>
                                                <span class="menu-title">
												Manage Profile
                                            </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/customer/logout" data-original-title="" title="">
                                                <i class="fa fa-power-off"></i>
                                                <span class="menu-title">
												Log Out
                                            </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <!--Menu list item-->
                                <li>
                                    <a href="/customer/my_orders" data-original-title="" title="">
                                        <i class="fa fa-book"></i>
                                        <span class="menu-title">
												My Orders
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/nearest_vans" data-original-title="" title="">
                                        <i class="fa fa-location-arrow"></i>
                                        <span class="menu-title">
												Nearest Vans
                                        </span>
                                    </a>
                                </li>

                                <li class="list-divider"></li>

                                <li>
                                    <a href="/vendor">
                                        <i class="fa fa-exchange"></i>
                                        <span class="menu-title">Vendor APP</span>
                                    </a>
                                </li>
                            </ul>


                        </div>
                        <div class="nano-pane" style="display: none;">
                            <div class="nano-slider" style="height: 2815px; transform: translate(0px);"></div>
                        </div>
                    </div>
                </div>
                <!--================================-->
                <!--End menu-->

            </div>
        </nav>
        <!--===================================================-->
        <!--END MAIN NAVIGATION-->
    </div>
</div>

<!-- path is set in app.js : app.use(express.static('static')); -->
<script type="text/javascript">

    /**
     * Baidu coordinate BD-09 secondary encryption measures. The coordinate system of the external interface of
     * Baidu is not the real longitude and latitude collected by GPS, which needs to be converted through
     * the coordinate conversion interface.
     *
     * */
    var map = new BMapGL.Map("map", {drawMargin: 100, drawer: 'BMAP_SVG_DRAWER_FIRST'});
    let convertor = new BMapGL.Convertor();

    let redIcon = new BMapGL.Icon("./images/redmark.png", new BMapGL.Size(25, 25));
    let blueIcon = new BMapGL.Icon("./images/van.png", new BMapGL.Size(25, 25));

    // default location
    let user_pos_obj = {x_pos: 144.95782936759818, y_pos: -37.79872198514221};
    let default_user_point = new BMapGL.Point(user_pos_obj.x_pos, user_pos_obj.y_pos);
    map.centerAndZoom(default_user_point, 18);

    let options = {
        //Whether to use high precision equipment
        enableHighAccuracy:true,
        timeout:5000,
        maximumAge:0
    };

    /* get user location via geolocation */
    navigator.geolocation.getCurrentPosition(position => {
        let latitude = position.coords.latitude;
        let longitude = position.coords.longitude;
        let accuracy = position.coords.accuracy;

        console.log("locate WGS84 standard coordinate:" + longitude + "," + latitude);
        console.log("accuracy：" + accuracy);

        // AJAX post to store user location to session
        $.post('/get_location', {x_pos: longitude, y_pos: latitude});

        user_pos_obj.x_pos = longitude;
        user_pos_obj.y_pos = latitude;

        let user_point = new BMapGL.Point(user_pos_obj.x_pos, user_pos_obj.y_pos);

        /* translate coordinate and draw */
        let pointArr = []

        console.log(user_point)
        pointArr.push(user_point)

        convertor.translate(pointArr, 1, 5, data => {
            if(data.status === 0) {

                console.log(data.points[0])

                map.centerAndZoom(data.points[0], 18);

                let userMarker = new BMapGL.Marker(data.points[0], {icon: redIcon});

                // User info window
                let sContent = `<div><h4 style='margin:0 0 5px 0;'>{{{customer_username}}}</h4>
    <a href="" id="btn-van" style="z-index: 999"></a>
    </div>`;
                let infoWindow = new BMapGL.InfoWindow(sContent);
                // click event
                userMarker.addEventListener('click', function () {
                    this.openInfoWindow(infoWindow);

                });

                // draw the marker
                map.addOverlay(userMarker);
            }
        });

    }, positionError => {
        alert('locating failed. Make sure your Browser supports geolocation.')
        map.centerAndZoom(default_user_point, 18);
        let userMarker = new BMapGL.Marker(default_user_point, {icon: redIcon});

        // map.addOverlay(userMarker);
        let sContent = `<div><h4 style='margin:0 0 5px 0;'>{{{customer_username}}}</h4>
    <a href="" id="btn-van" style="z-index: 999"></a>
    </div>`;
        let infoWindow = new BMapGL.InfoWindow(sContent);
        // click event
        userMarker.addEventListener('click', function () {
            this.openInfoWindow(infoWindow);

        });
    }, options);

    // dynamic load vans, incoming string with no escape
    // Need to be changed into Ajax later, to support refreshing
    let vans_to_show = [{{{vans_to_show}}}];
    vans_to_show.forEach((van) => {
        let van_point = new BMapGL.Point(van.location.x_pos, van.location.y_pos);
        console.log('create map point: ' + van.location.x_pos + ', ' + van.location.y_pos);

        let pointArr = []
        pointArr.push(van_point)

        convertor.translate(pointArr, 1, 5, data => {
            if(data.status === 0) {

                let marker = new BMapGL.Marker(data.points[0], {icon: blueIcon});
                // click event
                marker.addEventListener('click', function () {
                    window.location.href = "/van_details/" + van.van_name;
                });

                // draw marker
                map.addOverlay(marker);
            }
        });
    });

    map.addEventListener("touchmove", function (e) {
        map.enableDragging();
    });

    map.addEventListener("touchend", function (e) {
        map.disableDragging();
    });

    map.enableScrollWheelZoom(true);


</script>

</body>

</html>
