<div class="main">
    <div class="shopCar">
        <div class="header">
            <a href="#" onclick="history.go(-1); return false;" class="x fa fa-2x fa-close"></a>
            <div class="nav_shop">
                <div class="nav_title_conter">Edit Profile</div>
            </div>

        </div>
        <div style="height: 12rem;"></div>

        <!-- detail body -->
        <div style="text-align: center;">
            <img src="{{avatar_path}}" class="img-circle img-very-lg" alt="avatar">
        </div>

        <div style="text-align: center; margin-top: 20px;">
            <h5>LOGIN ID: {{login_id}}</h5>
        </div>

        <form action="/customer/edit_profile" method="post" id='edit_form'>
            <div class="conter">
                <div class="row form-group" style="margin-top: 20px; color:grey">
                    <label class="col-sm-2 col-form-label"><b>First Name</b></label>
                    <div class="col-sm-8">
                        <input name="firstname" type="text" class="form-control" value="{{{firstname}}}">
                    </div>
                </div>
                <div class="row form-group" style="margin-top: 10px; color:grey">
                    <label class="col-sm-2 col-form-label"><b>Last Name</b></label>
                    <div class="col-sm-8">
                        <input name="lastname" type="text" class="form-control" value="{{{lastname}}}">
                    </div>
                </div>
                <div class="row form-group" style="margin-top: 10px;color:grey">
                    <label class="col-sm-2 col-form-label"><b>Username</b></label>
                    <div class="col-sm-8">
                        <input name="username" type="text" class="form-control" value="{{{username}}}">
                    </div>
                </div>
            </div>


            <div class="foot" style="height: 95px">
                <div class="row foot_button_group">
                    <div class="col-xs-6">
                        <button id="submit-btn" type="submit" class="btn btn-primary my-round-border" style="padding: 8px 58px; font-size: 18px">Confirm</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="left_nav">
            <img src="./images/drink.png" alt="">
            <sapn>Snacks&nbsp;in&nbsp;a&nbsp;Van</sapn>
        </div>
    </div>
</div>

<script>

    // FORM VALIDATION
    // =================================================================
    $(function () {
        $('#edit_form').bootstrapValidator({
            message: 'This value is not valid',
            fields: {
                username: {

                    validators: {
                        stringLength: {
                            max: 8,
                            message: 'username should not be too long'
                        },

                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: 'Only letters, numbers and dashes'
                        },
                        notEmpty: {
                            message: 'username is required'
                        }
                    }
                },

                firstname: {
                    validators: {
                        stringLength: {
                            max: 16,
                            message: 'firstname should not be too long'
                        },

                        regexp: {
                            regexp: /^[a-zA-Z]+$/,
                            message: 'Only uppercase and lowercase letters'
                        },
                        notEmpty: {
                            message: 'First Name is required'
                        }
                    }
                },

                lastname: {
                    validators: {
                        stringLength: {
                            max: 16,
                            message: 'lastname should not be too long'
                        },

                        regexp: {
                            regexp: /^[a-zA-Z]+$/,
                            message: 'Only uppercase and lowercase letters'
                        },
                        notEmpty: {
                            message: 'Last Name is required'
                        }

                    }
                }
            }
        });
    });

</script>