<div class="main">
    <form method="post" action="/menu" class="shopCar">
        <div class="header">
            <div class="nav_shop">
                <div class="nav_title fa fa-map-marker"></div>
                <div class="nav_title_conter">{{{van_name}}}</div>
                <!-- back button -->
                <a href="#" class="x" onClick="history.go(-1); return false;">X</a>
            </div>

            <!-- navigation buttons  -->
            <div class="nav_logo">
                <div class="nav_check nav_check_sure">
                    <img class="logo_size" src="./images/drink.png" alt="">
                    <span class="logo_title">COFFEE</span>
                </div>
                <div class="line"></div>
                <div class="nav_check ">
                    <img class="logo_size" src="./images/snack.png" alt="">
                    <span class="logo_title">SNACKS</span>
                </div>
            </div>

        </div>
        <div class="h_k_b"></div>
        <!-- Menu Items -->
        <div class="conter">


            <!-- confirm the van -->
            <input type="hidden" name="van_name" value="{{{van_name}}}">
            <!-- confirm the customer -->
<!--        <input type="hidden" name="customer_id" value="">-->

            {{#each foods}}

            <div class="shop_conter food_item">
                <div class="shop_left">
                    <div>
                        <img class="shop_img" src="{{this.picture_path}}" alt="{{this.snack_name}}">
                    </div>
                    <div class="shop_num">
                        <div style="color: black">{{this.snack_name}}</div>
                        <div class="price">
                            <div class="add">+</div>&nbsp;
                            <div style="color: black">&nbsp;&nbsp;0&nbsp;&nbsp;</div>&nbsp;
                            <div class="del">-</div>
                        </div>
                    </div>
                </div>
                <div class="shop_right">
                    <div class="h4">$&nbsp;{{this.price}}</div>
                    <img class="del_shop" src="./images/note.png" alt="">
                </div>
            </div>

            {{/each}}

            {{#each drinks}}

            <div class="shop_conter drink_item">
                <div class="shop_left">
                    <div>
                        <img class="shop_img" src="{{this.picture_path}}" alt="{{this.snack_name}}">
                    </div>
                    <div class="shop_num">
                        <div style="color: black">{{this.snack_name}}</div>
                        <div class="price">
                            <div class="add">+</div>&nbsp;
                            <div style="color: black">&nbsp;&nbsp;0&nbsp;&nbsp;</div>&nbsp;
                            <div class="del">-</div>
                        </div>
                    </div>
                </div>
                <div class="shop_right">
                    <div class="h4">$&nbsp;{{this.price}}</div>
                    <img class="del_shop" src="./images/note.png" alt="">
                </div>
            </div>

            {{/each}}

        </div>
        <div class="k_b"></div>
        <div class="foot">
            <div class="foot_left">
                <div class="shop_car_img">
                    <img class="shop_car_icon" src="./images/cart.png" alt="">
                    <div class="shop_car_num">3</div>
                </div>
                <div class="price_all">
                    $&nbsp;10.80
                </div>

            </div>
            <button class="btn foot_right" type="submit">
                PLACE AN ORDER
            </button>
        </div>
    </form>
    <div class="left_nav">
        <img src="./images/drink.png" alt="">
        <sapn>Snacks&nbsp;in&nbsp;a&nbsp;Van</sapn>
    </div>
</div>