<div class="main">
    <form method="post" action="/customer_mockup/place_an_order/{{{van_name}}}" class="shopCar">
        <div class="header">
            <div class="nav_shop">
                <div class="nav_title fa fa-map-marker"></div>
                <div class="nav_title_conter">{{{van_title}}}</div>
                <!-- back button -->
                <a href="#" class="x" onClick="history.go(-1); return false;">X</a>
            </div>

            <!-- navigation buttons  -->
            <div class="nav_logo">
                <div id="drinks_nav" class="nav_check nav_check_sure">
                    <img class="logo_size" src="./images/drink.png" alt="">
                    <span class="logo_title">DRINKS</span>
                </div>
                <div class="line"></div>
                <div id="snacks_nav" class="nav_check ">
                    <img class="logo_size" src="./images/snack.png" alt="">
                    <span class="logo_title">SNACKS</span>
                </div>
            </div>

        </div>
        <div class="h_k_b"></div>
        <!-- Menu Items -->
        <div class="conter">


            <!-- confirm the van -->
            <input type="hidden" name="van_name" value="{{{van_name}}}">
            <!-- confirm the customer -->
            <!--        <input type="hidden" name="customer_id" value="">-->

            {{#each foods}}

                <div class="shop_conter snack_item" style="display: none">
                    <div class="shop_left">
                        <div>
                            <img class="shop_img" src="{{this.picture_path}}" alt="{{this.snack_name}}">
                        </div>
                        <div class="shop_num">
                            <div style="color: black">{{this.snack_title}}</div>
                            <div class="price">
                                <div id="{{this.snack_name}}_add" class="add"><i class="fa fa-plus"></i></div>&nbsp;
                                <!-- number of snacks, not negative integer-->
                                <input readonly="readonly" oninput="value=value.replace(/[^\d]/g,'')" class="price_input" id="{{this.snack_name}}_num" type="number" name="{{this.snack_name}}" value="0">
                                <div id="{{this.snack_name}}_del" class="del"><i class="fa fa-minus"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="shop_right">
                        <div class="h4">$&nbsp;<span id="{{this.snack_name}}_price">{{this.price}}</span></div>
                        <img class="del_shop" src="./images/note.png" alt="">
                    </div>
                </div>

            {{/each}}

            {{#each drinks}}

                <div class="shop_conter drink_item">
                    <div class="shop_left">
                        <div>
                            <img class="shop_img" src="{{this.picture_path}}" alt="{{this.snack_name}}">
                        </div>
                        <div class="shop_num">
                            <div style="color: black">{{this.snack_title}}</div>
                            <div class="price">
                                <div id="{{this.snack_name}}_add" class="add"><i class="fa fa-plus"></i></div>&nbsp;
                                <!-- number of drinks，not negative integer -->
                                <input readonly="readonly" oninput="value=value.replace(/[^\d]/g,'')" class="price_input" id="{{this.snack_name}}_num" type="number" name="{{this.snack_name}}" value="0">
                                <div id="{{this.snack_name}}_del" class="del"><i class="fa fa-minus"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="shop_right">
                        <div class="h4">$&nbsp;<span id="{{this.snack_name}}_price">{{this.price}}</span></div>
                        <img class="del_shop" src="./images/note.png" alt="">
                    </div>
                </div>

            {{/each}}

        </div>
        <div class="k_b"></div>
        <div class="foot">
            <div class="foot_left">
                <div class="shop_car_img">
                    <img class="shop_car_icon" src="./images/cart.png" alt="">
                    <div class="shop_car_num" id="total_snacks">0</div>
                </div>
                <div class="price_all">
                    $&nbsp;<input readonly="readonly" class="price_all_input" id="price_all" type="number" name="price_all" value="0">
                </div>

            </div>
            <button class="btn foot_right_button" type="submit">
                PLACE AN ORDER
            </button>
        </div>
    </form>
    <div class="left_nav">
        <img src="./images/drink.png" alt="">
        <sapn>Snacks&nbsp;in&nbsp;a&nbsp;Van</sapn>
    </div>
</div>

<script>

    // nav label function
    let drinks_nav = $('#drinks_nav');
    let snacks_nav = $('#snacks_nav');

    let drink_item = $('.drink_item');
    let snack_item = $('.snack_item');

    drinks_nav.click(function () {

        if(!drinks_nav.hasClass("nav_check_sure")) {

            drinks_nav.toggleClass("nav_check_sure")
            snacks_nav.toggleClass("nav_check_sure")

            drink_item.toggle()
            snack_item.toggle()
        }
    })

    snacks_nav.click(function () {

        if(!snacks_nav.hasClass("nav_check_sure")) {
            drinks_nav.toggleClass("nav_check_sure")
            snacks_nav.toggleClass("nav_check_sure")

            drink_item.toggle()
            snack_item.toggle()
        }
    })

    // cart function
        {{#each foods}}

        $(function () {
            let input = $('#{{this.snack_name}}_num');
            let price_all = $('#price_all')
            let snack_price = parseFloat($('#{{this.snack_name}}_price').text());
            let total_snacks = $('#total_snacks')
            $('#{{this.snack_name}}_add').click(function () {
                input.val(parseInt(input.val()) + 1);

                let price = snack_price;
                let original_price_all = parseFloat(price_all.val());
                let new_price = original_price_all + price;

                price_all.val(new_price)
                total_snacks.text(parseInt(total_snacks.text()) + 1);
            })

            $('#{{this.snack_name}}_del').click(function () {
                let x = parseInt(input.val())
                if(x>0) {
                    input.val(x - 1);

                    let price = snack_price;
                    let original_price_all = parseFloat(price_all.val());
                    let new_price = original_price_all - price;

                    price_all.val(new_price)
                    total_snacks.text(parseInt(total_snacks.text()) - 1);
                } else {
                    input.val(0);
                }

            })
        })

        {{/each}}

        {{#each drinks}}

        $(function () {
            let input = $('#{{this.snack_name}}_num');
            let price_all = $('#price_all')
            let snack_price = parseFloat($('#{{this.snack_name}}_price').text());
            let total_snacks = $('#total_snacks')
            $('#{{this.snack_name}}_add').click(function () {
                input.val(parseInt(input.val()) + 1);

                let price = snack_price;
                let original_price_all = parseFloat(price_all.val());
                let new_price = original_price_all + price;

                price_all.val(new_price)
                total_snacks.text(parseInt(total_snacks.text()) + 1);
            })

            $('#{{this.snack_name}}_del').click(function () {
                let x = parseInt(input.val())
                if(x>0) {
                    input.val(x - 1);

                    let price = snack_price;
                    let original_price_all = parseFloat(price_all.val());
                    let new_price = original_price_all - price;

                    price_all.val(new_price)
                    total_snacks.text(parseInt(total_snacks.text()) - 1);
                } else {
                    input.val(0);
                }

            })
        })

        {{/each}}



</script>