<div class="main">
    <div class="shopCar">
        <div class="header">
            <a href="/" class="x fa fa-2x fa-close"></a>
            <div class="nav_shop">
                <div class="nav_title_conter">{{title}}</div>
            </div>

        </div>

        <div class="h_k_b_tiny"></div>


        <!-- detail body -->
        <div class="conter">

            {{#each showing_list}}

            <a href="/van_details/{{this.van_name}}">
                <div class="current_item current_item my-round-border"
                     style="max-width: 90rem;margin-top:30px;padding-top:10px;background-color: #dde2fc;">
                    <div style="margin-top: 15px;text-align: center;">
                    <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue"
                         class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg></span>
                        <b><span class="card-title"
                                 style="text-align:center;font-size:30px;color:black;">{{{this.van_title}}}</span></b>
                        <div class="rating-container rating-xs" style="justify-content: center !important;display: flex; ">
                            <div class="rating-stars"><span class="empty-stars"><span class="star"><i
                                    class="fa fa-star-o"></i></span><span class="star"><i
                                    class="fa fa-star-o"></i></span><span class="star"><i
                                    class="fa fa-star-o"></i></span><span class="star"><i
                                    class="fa fa-star-o"></i></span><span class="star"><i
                                    class="fa fa-star-o"></i></span></span><span class="filled-stars"
                                                                                 style="width: {{this.stars_percentage}}%;"><span
                                    class="star"><i class="fa fa-star"></i></span><span class="star"><i
                                    class="fa fa-star"></i></span><span class="star"><i
                                    class="fa fa-star"></i></span><span class="star"><i
                                    class="fa fa-star"></i></span><span class="star"><i
                                    class="fa fa-star"></i></span></span></div>
                        </div>
                        <div>
                            <b><p class="card-text"
                                  style="text-align:center;text-align: center;font-size: 16px;font-style: italic;margin-top: 5px; margin-left: auto;margin-right: auto;">
                                {{{this.text_address}}} </p></b>

                            <b><p class="card-text"
                                  style="text-align:center;text-align: center;font-size: 16px;font-style: italic;margin-top: 3px;">
                                {{this.distance}} km Away</p></b>
                            <br>
                        </div>
                    </div>
                </div>
            </a>

            {{/each}}

        </div>
    </div>

<!--    <div class="k_b"></div>-->
    <div class="left_nav">
        <img src="./images/drink.png" alt="">
        <sapn>Snacks&nbsp;in&nbsp;a&nbsp;Van</sapn>
    </div>

</div>


<script>
</script>
