<div class="main">
    <div class="shopCar">
        <div class="header">
            <div class="nav_shop">
                <div class="nav_title fa fa-map-marker"></div>
                <div class="nav_title_conter">{{{van_title}}}</div>
                <!-- back button -->
                <a href="#" class="x" onClick="history.go(-1); return false;">X</a>
            </div>
            <div class="header_van_info">
                <p>4.6 KM AWAY</p>
                <p>TEXT ADDRESS</p>

            </div>

        </div>
        <div class="h_k_b"></div>

        <!-- detail body -->
        <div class="conter">
            <b><p style="font-size:55px; color:black; text-align: center;margin-top: 5px;">{{order_partial_id}}<p></b>
            <div class="progress" style="width:75%; margin-left: auto;margin-right: auto;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <div style="text-align: center;">
                <span><img src="./images/icon_drink_snack.png" alt=""></span>
                <span style="font-size: 25px;color:black;">COMPLETED</span>
            </div>
            <br>
            <div>
                <div class="card-text" style="display:flex; justify-content: space-evenly; margin-top: 10px;">
                    <b><span style="font-size: 15px; color:black">{{start_clock}}</span></b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                    <b><span style="font-size: 15px; color:green">{{end_clock}}</span></b>
                </div>
            </div>

            <form id="rate_form" method="post" action="/customer/my_orders/order_feedback" style="display:flex; justify-content: center;margin-top: 25px;">
                <input type="hidden" name="order_id" value="{{order_id}}" />
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" checked="checked" />
                    <label for="star1" title="text">1 star</label>
                </div>
            </form>
        </div>

        <div class="k_b"></div>

        <div class="foot" style="flex-direction: column; height: 95px">
            <div class="row foot_button_group">
                <div class="col-xs-6">
                    <button id="submit_btn" class="btn btn-primary my-round-border" style="padding: 6px 35px">CONFIRM</button>
                </div>
            </div>

            <div class="foot_order_monitor_reminder" style="margin-bottom:15px;">
            </div>
        </div>
    </div>
    <div class="left_nav">
        <img src="./images/drink.png" alt="">
        <sapn>Snacks&nbsp;in&nbsp;a&nbsp;Van</sapn>
    </div>
</div>

<script>
    $("#submit_btn").click(function () {
        $.post('/customer/my_orders/order_feedback', $("#rate_form").serialize(), function () {
            window.location.href ="/customer/my_orders/order_complete"
        });
    });
</script>
